<head>
  <title> CSS/HTML5 Course - Bootstrap Basic</title>
  <link rel="stylesheet" href="../css/bootstrapbasics.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>

<!-- NO Bootstrap--> 
<div class="row">
<header class="col-xs-12 col-md-12">HEADER</header>
<main class="col-xs-12 col-md-9">MAIN</main>
<aside class="col-xs-12 col-md-3">ASIDE</aside>
<footer class="col-xs-12 col-md-12">FOOTER</footer>
</div>