<head>
  <title> Pluralsight - CSS - Basics </title>
  <link rel="stylesheet" href="../css/basics.css">
</head>

<body>
    <div id = "header">
        <ul id = "menu">
            <li id = "menuitem">
                <a href = "http://www.w3.org/Style/CSS/">Option 1</a>
            </li>
            <li id = "menuitem">
                <a href = "http://www.csszengarden.com/">Option 2</a>
            </li>
            <li id = "menuitem">
                <a href = "http://www.blueprintcss.org">Option 3</a>
            </li>
            <li id = "menuitem">
                <a href = "http://developer.yahoo.com/yui/">Option 4</a>
            </li>
        </ul>
    </div>
    
    <h1> Heading 1 </h1>

    <h2> Heading 2 </h2>

    <div> A div </div>

    <!-- The width of this element is the 25% of the page. The style in the HTML code has the biggest specificity. That is why it is yellow and not green. --> 
    <p id = "content" style="background-color:Yellow"> A paragraph </p>  

    <div>  
    <!-- The width of this element is the 25% of the div.--> 
        <p class = "quotation"> A paragraph inside a div</p>  
    </div>

    <div>  
        <p> Paragraph that is child of a DIV</p>  
    </div>
    
    <div>
        <ul>
            <li>
                <a href = "http://www.w3.org/Style/CSS/">CSS Speccifications</a>
            </li>
            <li>
                <a href = "http://www.csszengarden.com/">CSS Zen Garden</a>
            </li>
            <li>
                <a href = "http://www.blueprintcss.org">Blueprint</a>
            </li>
            <li>
                <a href = "http://developer.yahoo.com/yui/">YUI</a>
            </li>
        </ul>
    </div>

</body>