<head>
  <title> CSS HTML5 Course </title>
  <link rel="stylesheet" href="../css/css_html5.scss">
  <link rel="stylesheet" href="../bootstrap.min.css">
</head>

<header>Hola Mundo,
  <span> this span should be blue</span>
</header>
<span>Span class that should be green</span><br>

<!-- Bootstrap--> 
<div class="row">
<div class="boot col-xs-12 col-md-4">Columna Izquierda</div>
<div class="boot col-xs-12 col-md-4">Columna Centro</div>
<div class="boot col-xs-12 col-md-4">Columna Derecha</div>
</div>

<!-- NO Bootstrap--> 
<header class="sign">--- NO BOOTSTRAP BELOW ---</header>
<header class="top">HEADER</header>
<main>MAIN</main>
<aside>ASIDE</aside>
<footer>FOOTER</footer>