<head>
  <title> CSS/HTML5 Course - Flexbox </title>
  <link rel="stylesheet" href="../css/flexbox.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>

<section class="flex">
    <div>Columna 1</div>
    <div>Columna 2</div>
    <div>Columna 3</div>
    <div>Columna 4</div>
</section>