<head>
  <title> Pluralsight - CSS - Layout </title>
  <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
    <div id = "header">
        <h1> Put Your HTML in a Box </h1>
        <p>Gustavo Viruega | July 1, 2017</p>  
    </div>
    <div id = "content">
        <div id = "buttons">
            <input name="b1" value="button 1" type="button"></input>
            <input name="b2" value="button 2" type="button"></input>
            <input name="b3" value="button 3" type="button"></input>
            <input name="b4" value="button 4" type="button"></input>
        </div>
        <p> 
            The first step in understanding how to position elements is to understand the fundamental model of CSS -the box model. 
        </p> 
        <h2> The Box Model </h2>
        <p> 
            Every element you place on a page creates a box. You cannot always see the boundaries 
            and the borders of the boxes you create, but the boxes are there. A <em>div</em>
            element creates a box, as do <em>h1, img, span</em> and <em>td</em> 
            elements. Each box has properties you can set with CSS. I've illustrated some of 
            these properties in Figure 1. 
        </p> 
        <p> 
            <img id="figure1" alt="" src="../images/css_image.jpg">
            <br/>
            <strong>Figure 1 Border, padding, and margin</strong>
        </p> 
        <div class="clear"></div>
        <p> 
            The <em>padding</em> of a box is the distance between the content of the box and the box's
            border, and the <em>margin</em> is the distance between a box and any adjacent element. In 
            other words, padding adds space inside the border, while a margin adds space outside 
            the border. In the following CSS, I set both the padding and the margin to a distance 
            of 10 pixels. This is why you can see so much white space in Figure 1.
        </p> 
        <p> 
            The border surrounding every element is not visible by default, but by using CSS I can change
            the color of an element's border, as well as the thickness and line style the browser uses 
            when drawing the border. What you see in in Figure 1 is the result of a style rule telling
            the browser to draw a solid, thin, red line around the box that each div element creates.
        </p> 
    </div>
    <div id = "authorinfo">
        <p class="about"> 
            about the author
        </p> 
        <p> 
            <img id="figure2" alt="" src="../images/Perfil-Cara.png">
            <br/>
            Gustavo Viruega is a Sr Qa from Argentina.
            <br/>
            <b>Find Gustavo on:</b>
            <br/>
        </p> 
        <div>
            <ul>
                <li>
                    Twitter - <a href = "https://twitter.com/gustavoviruega">@gustavoviruega</a>
                </li>
                <li>
                    Linkedin - <a href = "https://www.linkedin.com/in/gustavo-viruega-59065593/">Gustavo Viruega</a>
                </li>
            </ul>
        </div>
    </div>
    <div id = "links">
        <a href="">Link</a><br />
        <a href="">Link</a><br />
        <a href="">Link</a><br />
        <a href="">Link</a><br />
    </div>
</body>